<mat-tab-group animationDuration="0ms">
    <mat-tab label="Employee" routerLink="addEmployee">
      <app-viewemployee [dataSource]="dataSource" (addEmployee)="addEmployee($event)"></app-viewemployee> 
    </mat-tab>
    <mat-tab label="Student" routerLink="addStudent">
      <app-view-student [data]="data">
    </app-view-student>
    </mat-tab>
    <mat-tab label="Friend" routerLink="addFriend">
      <app-view-friend [datas]="datas"  >
      </app-view-friend >
    </mat-tab>
  </mat-tab-group>
  <router-outlet></router-outlet>                                                                                                                                                                                                 